#dash-header {
  .big {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
  }

  .small {
    font-size: 14px;
  }
}

.ext img {
  padding-top: 3px;
}

#login-form {
  width: 500px;
  margin: 300px auto;
}

